body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 0 1rem; /* Add some padding for small screens */
}

.container1 {
    max-width: 60rem; /* 960px / 16px = 60rem */
    padding: 1.25rem; /* 20px / 16px = 1.25rem */
    margin: 0 auto;
}

.container1 h1, .container1 p {
    margin: 0 0 1.25rem; /* 20px / 16px = 1.25rem */
    font-weight: normal;
}

.container1 h1 {
    color: transparent; /* Ensures the gradient is visible */
    font-size: 3.125rem; /* 50px / 16px = 3.125rem */
    background: linear-gradient(90deg, #f59031, #502e0f);
    -webkit-background-clip: text;
    background-clip: text;
}

.container1 p {
    color: transparent;
    font-size: 1.25rem; /* 20px / 16px = 1.25rem */
    background: linear-gradient(60deg, #f59031, #502e0f);
    -webkit-background-clip: text;
    background-clip: text;
}

.logo {
    margin-top: -5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 100%; /* Ensure image scales properly */
    max-width: 300px; /* Set a maximum width for the image */
    height: auto; /* Maintains the aspect ratio */
}

/* Media Queries for Mobile Devices */
@media (max-width: 768px) {
    .container1 h1 {
        font-size: 2rem; /* Smaller font size on mobile */
    }
    .container1 p {
        font-size: 1rem; /* Smaller font size on mobile */
    }
    .logo {
        margin-top: 0; /* Adjust logo positioning on mobile */
    }
}
